<% layout('/layouts/boilerplate') %> 

  <div class="row mb-5">
    <div class="col-10 offset-1">
          <div class="card" >
            
            <div class="card-body">
              <h3 class="card-title "><%= campground.title %></h3>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush ">
              <li class="list-group-item"><h5><%= campground.location %></h5></li>
              <li class="list-group-item">Rs.<%= campground.price %></li>
            </ul>
            <div class="card-body ">
              <a href="/campgrounds"><button class="btn btn-primary">All camps</button></a>
              <a href="/campgrounds/<%= campground._id %>/edit "><button class="btn btn-primary">Edit</button></a>
              <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button class="btn btn-primary">Delete</button>
              </form>
            </div>
          </div>  
    </div>
  </div>
