<% layout('/layouts/boilerplate') %> 

  <div class="row mb-5">
    <div class="col-10 offset-1">
          <div class="card" >
            
            <div class="card-body">
              <h3 class="card-title "><%= campground.title %></h3>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush ">
              <li class="list-group-item"><h5><%= campground.location %></h5></li>
              <li class="list-group-item">Rs.<%= campground.price %></li>
            </ul>
            <div class="card-body ">
              <a href="/campgrounds"><button class="btn btn-primary">All camps</button></a>
              <a href="/campgrounds/<%= campground._id %>/edit "><button class="btn btn-primary">Edit</button></a>
              <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button class="btn btn-primary">Delete</button>
              </form>
            </div>
          </div>
          <div class="card card-body mt-3 mb-3">
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="needs-validation" novalidate >
              <h3 class="mb-3">Leave a review</h3>
              <div class="mb-3">
                <label class="form-label" for="rating">Rating : </label><br>
                <input  type="range" min="1" max="5" name="review[rating]" id="rating">
              </div>
              <div class="mb-3">
                <label class="form-label" for="review">Comments :</label>
                <textarea class="form-control" name="review[body]" id="review" cols="30" rows="2" required></textarea>
                <button class="btn btn-primary mt-3" type="submit">Submit</button>
              </div>
            </form>
          </div> 
          <div >
            <% for (let x of campground.reviews){ %>
              <div class="card card-body mb-2">
                <h5 class="card-title">Rating: <%= x.rating %></h5>
                <p><%= x.body %> </p>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
                  <button class="btn btn-secondary">Delete</button>
                </form>
              </div>
            <% } %> 
          </div> 
    </div>

  </div>
